
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center" style="background-color: gray;">
                    <h1>Admin Area</h1>
                    <h5>Login to Manage Property</h5>
                </div>
                <hr>
<form action="">
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Email</label>
    <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Email">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Admin Password">
  </div>
  <button type="button" class="btn btn-primary">Login</button>
</form>
<a style="text-decoration: none; cursor: pointer; color: red;" routerLink="/signup">New User? Sign Up</a>

</div>
</div>
</div>
</div>